body {
  font-family: 'Righteous', sans-serif;
}

.title-color {
  color:#FFD700;
}

.dropdown-toggle::after {
  display: none
}

.jedi {
  position: relative;
}
.jedi::after {
  position: absolute;
  bottom: -30px;
  left: 0px;
  content: attr(data-name) ' (' attr(data-health) ')';
  color: #FFD700;
}

.enemy {
  position: relative;
}
.enemy::after {
  position: absolute;
  top: 0px;
  content: attr(data-name) ' (' attr(data-health) ')';
  color: #FFD700;

}
